{{ if eq .chezmoi.os "darwin" -}}
{{ end -}}
cask "font-hack-nerd-font"
# Fonts

cask "proton-mail"
cask "clickhouse"
cask "devpod"
cask "docker-desktop"
cask "ghostty"
cask "openvpn-connect"
# Applications

brew "hugo"
brew "libvterm"
brew "luv"
brew "luajit"
brew "lpeg"
brew "oniguruma"
brew "mpdecimal"
brew "pycparser"
brew "cryptography"
brew "cffi"
brew "abseil"
brew "protobuf-c"
brew "protobuf"
brew "msgpack"
brew "json-c"
brew "jansson"
brew "gmp"
brew "icu4c@76"
brew "unibilium"
brew "utf8proc"
brew "ncurses"
brew "libunistring"
brew "libpostal"
brew "libmagic"
brew "libsodium"
brew "libyaml"
brew "libuv"
brew "libnghttp2"
brew "libevent"
brew "c-ares"
brew "brotli"
brew "xz"
brew "sqlite"
brew "readline"
brew "pcre2"
brew "ca-certificates"
brew "openssl@3"
brew "gettext"
brew "pkgconf"
brew "m4"
brew "libtool"
brew "automake"
brew "autoconf"
# System Libraries

brew "yara"
brew "bore-cli"
brew "ngrok"
brew "clamav"
# Security & Networking

brew "openfga"
brew "nats-server"
# Databases & Services

brew "docker"
brew "krew"
brew "k9s"
brew "kustomize"
brew "helm"
brew "kubernetes-cli"
brew "terraform"
brew "azure-cli"
brew "awscli"
# Cloud & DevOps

brew "python@3.13"
brew "python@3.12"
brew "mypy"
brew "ruff"
brew "uv"
brew "go"
brew "neovim"
# Development Tools

brew "z"
brew "yazi"
brew "fastfetch"
brew "fga"
brew "just"
brew "yq"
brew "jq"
brew "stow"
brew "git"
brew "coreutils"
brew "eza"
brew "bat"
brew "fd"
brew "ripgrep"
brew "zoxide"
# Modern CLI Tools

brew "tree-sitter"
brew "tmux"
brew "fzf"
brew "starship"
brew "bash-completion"
brew "bash"
# Shell & Terminal

tap "homebrew/cask-fonts"

