[user]
 name = {{ .name }}
 email = {{ .email }}
 signingkey = {{ .signingkey }}

[core]
 editor = nvim
 autocrlf = input
 excludesfile = ~/.gitignore_global

[init]
 defaultBranch = main

[commit]
 gpgsign = true

[gpg]
 format = ssh

{{- if eq .chezmoi.os "darwin" }}
[gpg "ssh"]
 program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }} # else case would fallback to e.g. `devpod-ssh-signature`

[pull]
 rebase = true

[push]
 default = simple
 followTags = true

[fetch]
 prune = true

[diff]
 colorMoved = default

[merge]
 conflictstyle = diff3

[color]
 ui = auto

[color "branch"]
 current = "#f5c2e7 reverse"
 local = "#f9e2af"
 remote = "#a6e3a1"

[color "diff"]
 meta = "#cdd6f4"
 frag = "#f5c2e7 bold"
 old = "#f38ba8 bold"
 new = "#a6e3a1 bold"
 oldMoved = "#eba0ac"
 newMoved = "#94e2d5"

[color "status"]
 added = "#a6e3a1"
 changed = "#f9e2af"
 untracked = "#89dceb"

[alias]
 st = status
 co = checkout
 br = branch
 ci = commit
 unstage = reset HEAD --
 last = log -1 HEAD
 visual = log --graph --oneline --decorate --all
 amend = commit --amend --no-edit
 please = push --force-with-lease
 stash-all = stash save --include-untracked
