#!/usr/bin/env bash
{{ if eq .chezmoi.os "darwin" -}}
set -euo pipefail

if [ -f /opt/homebrew/bin/brew ]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
elif [ -f /usr/local/bin/brew ]; then
  eval "$(/usr/local/bin/brew shellenv)"
else
  echo "❌ Homebrew not found"
  exit 1
fi

brew update
brew bundle --file="${HOME}/.Brewfile"
brew upgrade
brew cleanup
{{ else -}}
exit 0
{{ end -}}
